- if (session.user) {
	p
		span Hello&nbsp;
		span= session.user.email
		span !
	p
		a(href="/logout") Logout
- } else {
	p
		a(href="/login") Login
		span &nbsp;or&nbsp;
		a(href="/user/new") Register
- }