extends layout

block content
			h4 uid is #{uid}
			div.header
				ul.nav.nav-pills
					li.active
						a(href="/mileage/new}") New
					li
						a(href="/settings") Settings
					li
						a(href="/logout") Logout

			li
				a(href="/user/" + encodeURIComponent(user._id))= user.firstname
			
			if vehicles.length > 0
				table.table.table-hover.table-bordered
					thead
						tr
							th Name
							th Mileage
							th Edit
							th Delete
					each mileage in mileages
						tr
							td
								a(href="/mileage/" + encodeURIComponent(mileage._id))= mileage.name
							td
								mileage.start
							td
								a(href="/mileage/edit/" + encodeURIComponent(mileage._id)) Edit
							td
								a(href="/mileage/delete/" + encodeURIComponent(mileage._id)) Delete