doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content="IT notes")
		meta(name="vollov.ca@gmail.com" content="")
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/styles.css')
		
	body
		div.container
			block content
		div.container
			hr
			footer
				p &copy; Company 2014	

		script(src='/libs/jquery/jquery.min.js')
		script(src='/libs/bootstrap/bootstrap.min.js')
		script(src='/libs/bootstrap/docs.min.js')
		script(src='/javascripts/app.js')