extends layout

block content
			h4 uid is #{uid}
			div.header
				ul.nav.nav-pills
					li.active
						a(href="/vehicle}") Vehicle
					li
						a(href="/route") Route
					li
						a(href="/user/profile") Profile
					li
						a(href="/logout") Logout
						
			form.form(method="POST", action="/vehicle")
				h2.form-heading add a new vehicle
				input.form-control(placeholder="Vehicle Name",name="name")
				button.btn.btn-lg.btn-primary.btn-block(type="submit") Add
			
			form#vehicles.form
				each vehicle in vehicles
					div.row
						div.col-lg-6
							input.form-control.btn-primary(type="button", value="#{vehicle.name}" onclick="app.listMileage('#{vehicle._id}')")
						div.col-lg-6
							input.form-control.btn-primary(type="button", value="Delete" onclick="app.deleteVehicle('#{vehicle._id}')")
						
			
				
				
