extends ../layout

block content
	form.form(method="POST", action="/user")
		h2.form-heading #{title}
		input#firstname.form-control(name="firstname",placeholder="First Name")
		input#lastname.form-control(name="lastname",placeholder="Last Name")
		input#email.form-control(type="email",placeholder="Email address",name="email")
		input.form-control(type="password",placeholder="Password",name="password")
		button.btn.btn-lg.btn-primary.btn-block(type="submit") Submit